body {
    padding: 0;
    margin: 0;
    background: #F7F7F7;
    background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  }
  
  /** Header styles **/
  .header {
    background-image: url(https://pbs.twimg.com/media/EE-F-boVUAAKUrA?format=jpg&name=large);
    height: 300px;
    background-position: center center;
  }
  
  .information {
    margin: 40px auto;
    padding: 20px;
    background-color: #bf9de6;
    overflow: auto;
    width: 75%;
    border-radius: 5px;
    align-self: center;
    color: #050505;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    
  }
  
  .information p {
    color: #430346;
    text-align: center;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .spectrum div {
    font: inherit;
    padding: 0 20px;
    color: #FFFFFF;
    overflow: auto;
    opacity: 0.9;
    text-align: center;
  }
  
  .spectrum p {
    color: #FFFFFF;
    text-align: center;
  }
  
  /* Roast types */
  .favorite {
    background-color: rgb(250, 201, 208);
  }
  
  .goal {
    background-color: rgb(127, 101, 243);
  }
  
  .thankyou {
    background-color: rgb(134, 138, 134);
  }
  
  
  /* Typography */
  h1 {
    color: #41292C;
    font-family: 'Covered By Your Grace', sans-serif;
    font-size: 100px;
    line-height: 76px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 20%;
  }
  
  h3 {
    color: #41292C;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  
  h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: .2em;
  }
   
  /* Page elements */
  ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
    align-self: center;
  }
  
  li {
    border-bottom: 1px solid #E4BB97;
    list-style: none;
    margin: 2px 0px;
    padding-bottom: 2px;
  }
  
  p {
    color: #444444;
    line-height: 32px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 100;
  }
  
  a {
    color: #050505;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  